{% extends "layout.html" %}

{% block link %}

{% endblock %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <section class="mb-2 mt-5" style="background-color: #fff;">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <!-- <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-1 mt-2 mb-2 justify-content-center">
                      <div class="row justify-content-center"> -->

                        </div>
                    </div>
                    {% if orders %}
                    <table class="history-table history-cell">
                        <thead>
                            <tr>
                                <th class="history-cell">#</th>
                                <th class="history-cell">Action</th>
                                <th class="history-cell">Cost</th>
                                <th class="history-cell">Cash flow</th>
                                <th class="history-cell">Time UTC</th>
                            </tr>
                        </thead>

                        <tbody class="history-cell">
                            {% for order in orders %}
                            {% set position = loop.index %}
                            <tr class="
                                        {% if order['action'] == 'BUY' %} rowbuy
                                        {% elif order['action'] == 'SELL' %} rowsell
                                        {% endif %}">
                                <td class="history-cell">{{ position }}</td>
                                <td class="history-cell">{{ order['action'] }} {{ order['quantity']}} of {{ order['symbol']}} </td>
                                <td class="history-cell">{{ order['price'] }}$ ({{ (order['price']*order['quantity']) |round(2) }}$)</td>
                                <td class="history-cell">{{ order['cash_before'] }}$ -> {{ order['cash_after']}}$</td>
                                <td class="history-cell">{{ order['time']}} // {{ order['date']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                    {% if not orders %}
                        <p class="h3" style="margin: auto;">Trade orders history is empty.</p>
                        Press <a href="/quote">HERE</a> to start trading.
                    {% endif %}

                    {% if error %}
                        <p>Error occured: {{error}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
      </section>

{% endblock %}

{% block script %}

<script>

</script>


{% endblock %}
