{% extends "layout.html"%}

{% block title%}
Home
{% endblock %}

<!-- To enable tooltips -->
{% block link %}
<script src="static/popper.min.js"></script>
{% endblock %}

{% block main %}

<!-- Cards -->
<div style='display:flex;'>
    <!-- Card for user data -->
    <div class="card mt-2" style="width: 22rem; height:13rem; margin-right:0.5rem">
        <div class="card-body pb-0 px-2">
            <h5 class="card-title">Hello, {{user['username']}}
                <a onclick="refresh()" style="cursor: pointer;">
                    <img src="/static/img/refresh_icon.png">
                </a>
            </h5>
            <ul class="" style="padding-left:1rem; margin-bottom:0;">
                <li class="card-text" style="display: flex; height:3rem">
                    <span style="text-align:left; flex:1;">Cash:</span>
                    <span id="cash" class="h3"
                        style="text-align:right; flex:1; font-weight:bold;">{{user['cash'] | usd}}</span>
                </li>
                <li class="card-text" style="display:flex; height:3rem">
                    <span style="text-align:left; flex:1;">Portfolio:</span>
                    <span id="portfolio" class="h3"
                        style="text-align:right; flex:2; font-weight:bold;">
                    </span>
                    <div class="spinner" style="display:block"></div>
                </li>
                <hr style="margin:0; margin-bottom:1rem;">
                <li class="card-text" style="display:flex;">
                    <span style="text-align:left; flex:1;">Value:</span>
                    <span id="value" class="h3" style="text-align:right; flex:2; font-weight:bold;"></span>
                    <div class="spinner" style="display:block"></div>
                </li>
            </ul>
        </div>
    </div>


    <div class="card mt-2 mb-2" style="width:100%">
        <div class="card-body pb-0 px-2">

            <h5 class="card-title h1">Your portfolio</h5>
            <hr>

            <table style="text-align:center; margin-left:auto; margin-right:auto">
                <tbody>
                    {% for item in portfolio %}
                        <tr style="font-size: 25px;">
                            <!-- LEFT -->
                            <td id="{{item['symbol']}}-item" style="text-align:left">
                                <a href="/quote?symbol={{item['symbol']}}" class="a-empty">
                                    <span style="font-weight: bold;">{{item['symbol']}}</span>
                                </a>
                                <span style="font-weight: bold;"> • </span>
                                <span style="font-size:18px"id="{{item['symbol']}}-companyName"></span>
                                <br>
                                <span style="color:grey; font-size:20px">{{item['quantity']}} • {{item['avg_price'] | usd}}</span>

                                <!-- Dont need the horizontal rule for the last item -->
                                {% if loop.index < (portfolio | length) %}
                                    <hr style="width:125%; margin:0; height:1px;">
                                {% endif %}

                            </td>
                            <!-- RIGHT -->
                            <td style="text-align:right; width:120px">
                                <span id="{{item['symbol']}}-price">Price</span>
                                <br>
                                <span id="{{item['symbol']}}-change" style="font-size:20px">Change</span>
                            </td>
                            <td>
                                <!-- Sell button with a tooltip -->
                                <button style="width:40px; color:grey; font-weight:bold;" type="sellAllButton"
                                class="btn btn-number" id="{{item['symbol']}}-sell" data="{{item['symbol']}}"
                                data-toggle="tooltip" title="Sell all for current price"
                                data-placement="bottom"
                                onclick='window.location.href = "/trade?symbol={{item["symbol"]}}&q=all";'>X</button>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <!-- End of cards container -->
</div>

<!-- Container for API-key data -->
<div id="key-container" data-key='{{api_key}}'></div>

<!-- Container for storing portfolio | it is passed as JSON object -->
<div id="portfolio-container" data-portfolio='{{portfolio | tojson}}'></div>

<!-- Container for user data -->
<div id="user-container" data-user='{{user | tojson}}'></div>


{% endblock %}

{% block script %}

<script>

    const loadingMessage = document.getElementById("loading-message");
    const results = document.getElementById("results");
    const portfolioCurrentValue = document.getElementById("portfolio");
    const totalCurrentValue = document.getElementById("value");
    const spinners = document.querySelectorAll(".spinner");

    // Take api_key from container
    const apiKey = $("#key-container").data("key");

    // Take portfolio data from container
    let portfolio = JSON.parse(document.getElementById("portfolio-container").dataset.portfolio);

    // Take user data
    const user = JSON.parse(document.getElementById("user-container").dataset.user);

    // Formatter for $
    let currencyFormatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
      });


    addEventListener('DOMContentLoaded', (event) => {
        refresh();
        //console.dir(portfolio);
    });

    // Using async/await to handle the fetch request and json parse
    async function lookupAsync(symbol) {
        // Contact API
        const url = `https://cloud.iexapis.com/stable/stock/${encodeURIComponent(symbol)}/quote?token=${apiKey}`;
        try {
            let response = await fetch(url);
            if (!response.ok) throw new Error(response.statusText);
            let data = await response.json();
            // From this function we recieve a JSON 'data' containing all the info about 'symbol' stock
            return data;
        } catch (error) {
            console.log(error);
        }
    };

    // Re-check the prices / change totals of $
    function refresh() {

        // Clear previously calculated values
        $(portfolioCurrentValue).text('');
        $(totalCurrentValue).text('');


        // Show the spinner animation
        if (spinners) {
            spinners.forEach(spinner => {
                spinner.style.display = 'block';
            });
        };

        let promises = [];

        // Take symbol of each portfolio element and send it to the lookup function
        portfolio.forEach(item => {
            promises.push(lookupAsync(item.symbol));
        });

        // When all responses are loaded and processed (which means when .all(promises) are fullfilled)
        Promise.all(promises).then(responses => {
            //console.log("All requests are done, processing");

            // Variable to contain current total portfolio value
            let total_p_value = 0;

            // Stop all the spinner animation
            if (spinners) {
                spinners.forEach(spinner => {
                    spinner.style.display = 'none';
                });
            }

            // With given responses - add a property 'new price' to each
            responses.forEach((data, index) => {
                //console.log('#' + index + ':  ' + data.symbol + ' : ' + data.latestPrice);
                portfolio[index].newPrice = data.latestPrice;
                portfolio[index].companyName = data.companyName;
            });

            // Count current value of the portfolio
            portfolio.forEach(item => {
                total_p_value += item.newPrice * item.quantity;
                //console.log('current = ' + total_p_value);
            });

            // Assign calculated value to the html object
            $(portfolioCurrentValue).text(currencyFormatter.format(total_p_value));

            // Same for cash+portfolio - total field
            let current_cash = total_p_value + user.cash;

            $(totalCurrentValue).text(currencyFormatter.format(current_cash));

            // Show change and proper color for portfolio items
            portfolio.forEach(item => {
                let change = (item.newPrice - item.avg_price) * item.quantity;
                let portfolioChange = document.getElementById(item.symbol + '-change');
                let portfolioItem = document.getElementById(item.symbol + '-item');
                let portfolioCurrentPrice = document.getElementById(item.symbol + '-price');
                let portfolioCompanyName = document.getElementById(item.symbol + '-companyName');

                // Add the class .red or .green to all relevant items
                if ( change >= 0 ) {
                    change = currencyFormatter.format(change);
                    $(portfolioChange).text(' ▲ +' + change);
                    $(portfolioChange).addClass('green');
                } else {
                    change = currencyFormatter.format(change);

                    $(portfolioChange).text(' ▼ ' + change);
                    $(portfolioChange).addClass('red');
                };

                // Put current price on the according field
                $(portfolioCurrentPrice).text(currencyFormatter.format(item.newPrice));

                // Show full company name
                $(portfolioCompanyName).text(truncateString(item.companyName, 40));

            });
        });
    };

    // Does just what it says: cuts the string with ellipsis
    function truncateString(str, maxLength) {
        if (str.length > maxLength) {
            return str.substring(0, maxLength) + '...';
        } else {
            return str;
        }
    };

</script>

{% endblock %}