{% extends "layout.html" %}
{% block title %}Sign Up{% endblock title %}
{% block main %}
  <!-- Shows message of successful registration -->
  <section class="mb-2 mt-5" style="background-color: #fff;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-1">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 align-items-center"
                     style="margin-top: auto;
                            margin-bottom: auto">
                  <p class="text-center h1 fw-bold mx-1 mx-md-4">Registration successful</p>
                  <p class="text-center h3 mb-3 mx-1 mx-md-4 mt-4">
                    Use your login and password to <a href="/login">log in</a>!
                  </p>
                </div>
                <div class="col-md-10 col-lg-6 d-flex align-items-center order-1 order-lg-2">
                  <img src="static/img/logo_full.png" class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}
{% block script %}<script></script>{% endblock script %}
